<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8"/>
        <title>Ye Quote</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link rel="stylesheet" href="style.css"/>
    </head>

    <body>
        <div id="site">
            <h2>Kanye Quotes</h2>

            <img src="huge_avatar.png"/>

            <div class="quote"> 
                <% if (locals.quote) { %>
                    <p><%= quote %></p>
                <% } %>
            </div>

            <div>

                <form action="/yequote" method="post">
                    <button name="run" value="Ye Quote">Ye Quote</button>
                </form>
            
            </div>
        </div>

    </body>

</html>
