
h2, .quote {
    color: #ebe1e1;
    text-align: center;
}

body {
    background-color: #000512;
}

img {
    margin-left: 40%;
}

button {
    margin-left: 46%;
    width: 100px;   
    height: 30px;
    background-color: rgb(55, 88, 117);
    color: #ebe1e1;
    margin-top: 2%
}

#site {
    margin-top: 8%;
}

